
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px;
    background-color: greenyellow;
}

h1 {
    color: darkgreen;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black solid;
    padding: 16px;
    background-color: red;
}

a {
    text-decoration: none;
    color: white
}



table tbody tr:nth-child(even){
    background-color: grey;
}


a:hover{
    color: green;
}

h3 a {
    color: darkgreen;
}

.tacos{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
